<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
  <div class="mdl-card__title">
    <h1 class="mdl-card__title-text">About</h1>
  </div>
  <div class="mdl-card__media"><img class="article-image" src="../assets/img/about.jpg" border="0" alt="About">
  </div>
  <div class="mdl-grid site-copy">
    <div class="mdl-cell mdl-cell--12-col">
      <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Playground</h3>
      <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
        <p appHighlight="blue">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
        <p appHighlight="yellow">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
        <div>
          <input type="radio" name="colors" (click)="color='lightgreen'">Green
          <input type="radio" name="colors" (click)="color='yellow'">Yellow
          <input type="radio" name="colors" (click)="color='cyan'">Cyan
        </div>
        <p [appHighlight]="color">Highlight me!</p>
        <p [appHighlight]="color" defaultColor="violet">
          Highlight me too!
        </p>
        <hr>
        <p><i>Mouse over the following lines to see fixed highlights</i></p>
        <p [appHighlight]="'yellow'">Highlighted in yellow</p>
        <p appHighlight="orange">Highlighted in orange</p>
        <hr>
        <p>The hero's birthday is {{ birthday | date:format }}</p>
        <button (click)="toggleFormat()">Toggle Format</button>
        <hr>
        <input [(ngModel)]="searchText" placeholder="search text goes here">
        <ul>
          <li *ngFor="let c of characters | filter : searchText">
            {{c}}
          </li>
        </ul>
      </div>
      <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Mission</h3>
      <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
        </p>
      </div>
      <div>
        <select multiple [(ngModel)]="selectedVal">
          <option *ngFor="let cha of characters">
            {{cha}}
          </option>
        </select>
        <br>
        <div *ngIf="selectedVal!=null;else nonselected">selected values are [{{selectedVal}}]</div>
        <ng-template #nonselected>no selected value</ng-template>
      </div>
      <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Team</h3>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
          <div class="demo-card-image mdl-card mdl-shadow--2dp person1">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
              <span class="demo-card-image__filename">John Doe</span>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="demo-card-image mdl-card mdl-shadow--2dp person2">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
              <span class="demo-card-image__filename">Gary Doe</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
