<!--<router-outlet></router-outlet>-->
<!--<my-main></my-main>-->
<div class="row text-center">
  <div class="col-md-12">
    <h3>List of posts</h3>
  </div>
</div>
<div class="col-md-12">
  <div *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }">
    <div class="card">
      <div class="card-header">
        <h4>{{ post.title }}</h4>
      </div>
      <div class="card-block">
        <p class="card-text">{{ post.body }}</p>
        <a [routerLink]="['/post', post.id]" class="btn btn-primary">More</a>  
      </div>
    </div>
  </div> <!-- /ngFor -->
</div> <!-- /col-md-12 -->
<div class="row text-center">
  <div class="col-md-12">
    <pagination-controls (pageChange)=" p = $event "></pagination-controls>
  </div>
</div>