<div class="mdl-grid site-max-width">
    <div *ngFor="let post of posts" [class.selected]="post === selectedPost" (click)="gotoDetail(post)" class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="../assets/img/portfolio1.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{post.title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
        </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" (click)="gotoDetail(post)">
            Learn More
          </a>
        </div>
    </div>
</div>

<!-- <md-card *ngIf="selectedPost">
  <button md-button (click)="gotoDetail()">View Details</button>
</md-card> -->